@model IEnumerable<EastMed.Data.Model.complaint>

@{
    ViewBag.Title = "MaintanenceComplaintView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PagePluginStyles {

    <link href="~/assets/css/lightbox.min.css" rel="stylesheet" />

}
<div class="page-header">
    <h1>
        Complaints
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>

            Complaints list

        </small>
    </h1>
</div>
<div id="right-menu-complaint" class="modal aside" data-body-scroll="false" data-offset="true" data-placement="right" data-fixed="true" data-backdrop="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Help Desk For Complaint Management
                </div>
            </div>

            <div class="modal-body">
                <h3 class="lighter">Help For Process Tool</h3>

                <br />
                <i class="menu-icon fa fa-caret-right"></i> You can use the <span class="blue">
                    <i class="ace-icon fa fa-search-plus bigger-120"></i>
                </span> button to see the details of that row.
                <br />              
                <i class="menu-icon fa fa-caret-right"></i> You can use the <span class="green">
                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                </span> button to <strong>Change</strong> the status of that complaint in that row to what your process is solved,unsolved or on progress...
                <br />
                <i class="menu-icon fa fa-caret-right"></i>   <span class="blue">
                    <i class="ace-icon fa fa-hand-pointer-o bigger-120"></i>
                </span> Click on any image to see more clearly in a window.
                <br />
                <br />
                <i class="menu-icon fa fa-caret-right"></i>  When you change the status of complaint you are no longer to see any complaint except the status of <span class="red">"New" and "On Progress".</span>
                <h3 class="lighter">Help For Complaint Details </h3>
                <br />
                <i class="menu-icon fa fa-caret-right"></i>   You can use the <span class="blue">
                    <i class="ace-icon fa fa-print bigger-120"></i>
                </span> button to print the details of that complaint.
                <br />
                <i class="menu-icon fa fa-caret-right"></i>  Complaint History table will be uptaded automaticly when any maintenance officer seen or update a complaint
                <br />
                <h3 class="lighter">Help For Process Tool</h3>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                1
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                2
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                3
            </div>
        </div><!-- /.modal-content -->

        <button class="aside-trigger btn btn-info btn-app btn-xs ace-settings-btn" data-target="#right-menu-complaint" data-toggle="modal" type="button">
            <i data-icon1="fa-plus" data-icon2="fa-minus" class="ace-icon fa fa-plus bigger-110 icon-only"></i>
        </button>
    </div><!-- /.modal-dialog -->
</div>
<div class="row">
    <div class="col-md-10 col-xs-10 col-lg-10">
        <div class="alert alert-info">
            <button class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            Clik to button &nbsp;<i class="ace-icon fa bigger-110 icon-only fa-plus"></i> on the right  to see help Desk
        </div>
    </div>
</div>

@if (TempData["Info"] != null)
{
    <div class="row">
        <div class="col-md-10 col-xs-10 col-lg-10">
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>

                </button>
                <strong><i class="ace-icon fa fa-check"></i></strong>
                @TempData["Info"] 
            </div>
        </div>
    </div>
}
<h3 class="header smaller lighter blue">All Complaints </h3>

<div class="clearfix">
      <div class="pull-right tableTools-container"></div>
</div>
<div class="space-6"></div>
<div class="table-header">
    Results for "Latest Complaints For Maintanence Officer" 
</div>
<div class="table-responsive">
    <table id="dynamic-table" class="table  table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    Process
                </th>
                <th class="detail-col">
                    #ID
                </th>

                <th >
                    Category
                </th>
                <th>
                    <i class="ace-icon fa fa-user"></i>
                    UserName
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Status
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Location
                </th>
                <th>
                    ItemName
                </th>
                <th>
                    ItemID
                </th>
                <th>
                    Picture
                </th>               
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="blue" href="@Url.Action("Details","Complaint",new { id = item.ID })">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>
                            <a class="green" href="@Url.Action("Create","MaintanenceComplaint",new {id = item.ID })">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>
                            
                        </div>
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="@Url.Action("Details","Complaint",new { id = item.ID })" class="tooltip-info" data-rel="tooltip" title="View">
                                            <span class="blue">
                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>

                                        <a href="@Url.Action("Create","MaintanenceComplaint",new {id = item.ID })" class="tooltip-success" data-rel="tooltip">
                                            <span class="green">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                 
                    <td>
                        @Html.DisplayFor(modelItem => item.category.CATEGORY_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user.FIRST_NAME) @Html.DisplayFor(modelItem => item.user.LAST_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COMMENT)
                    </td>
                    <td>
                        @if (@item.STATUS == "New")
                        {
                            <span class="label label-warning">
                                <i class="ace-icon fa fa-exclamation-triangle bigger-120"></i>
                                @Html.DisplayFor(modelItem => item.STATUS)
                            </span>
                        }
                        else if (item.STATUS.Trim().ToUpper() == "UNSOLVED")
                        {
                            <span class="label label-danger arrowed-in">
                                @Html.DisplayFor(modelItem => item.STATUS)
                            </span>
                        }
                        else if (item.STATUS.Trim().ToUpper() == "SOLVED")
                        {
                            <span class="label label-success arrowed-in">
                                @Html.DisplayFor(modelItem => item.STATUS)
                            </span>
                        }
                        else if (item.STATUS.Trim().ToUpper() == "ON PROGRESS")
                        {
                            <span class="label label-info arrowed-in-right arrowed">
                                @Html.DisplayFor(modelItem => item.STATUS)
                            </span>
                        }
                        else if (item.STATUS.Trim().ToUpper() == "SEEN")
                        {
                            <span class="label label-warning">
                                <i class="ace-icon fa fa-exclamation-triangle bigger-120"></i>
                                @Html.DisplayFor(modelItem => item.STATUS)
                            </span>
                        }          
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.START_DATE)
                    </td>
                    <td>
                      
                        @if (@item.PRIORITY <= 1)
                        {
                            <span class="label label-info arrowed-in-right arrowed"> Low </span>
                        }
                        else if (@item.PRIORITY >= 2)
                        {
                            <span class="label label-warning"> Average </span>
                        }
                        else if (@item.PRIORITY >= 3)
                        {
                            <span class="label label-danger arrowed-in">High</span>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.location.ROOM_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item.ITEM_NAME)
                    </td>
                    <td>
                        @if (@item.ITEM_ID != null)
                        {
                            @Html.DisplayFor(modelItem => item.ITEM_ID)
                        }
                        else
                        {
                            <span class="label label-light arrowed-in-right">No ID</span>
                        }

                    </td>
                    <td>
                        @if (@item.ImgURL != null)
                        {
                            <a class="example-image-link" href="@item.ImgURL" data-lightbox="example-2" data-title="@item.location.ROOM_ID @item.ITEM_ID">
                                <img class="example-image" src="@item.ImgURL" width="75" height="75" alt="image-1" />
                            </a>
                            @*<img src="@item.ImgUrl" alt="@item.RoomNo @item.itemName " class="example-image-link" />*@
                        }
                        else
                        {
                            <span class="label  label-light  arrowed arrowed-right">No Image</span>
                        }
                    </td>
                   
                   
                </tr>

            }
        </tbody>

    </table>

</div>
@section PagePluginScripts {

    <script src="~/assets/js/lightbox.js"></script>

}

@section PageInlineScripts{
    <script type="text/javascript">
        jQuery(function ($) {
            $('.modal.aside').ace_aside();

            $('#aside-inside-modal').addClass('aside').ace_aside({ container: '#my-modal > .modal-dialog' });

            //$('#top-menu').modal('show')

            $(document).one('ajaxloadstart.page', function (e) {
                //in ajax mode, remove before leaving page
                $('.modal.aside').remove();
                $(window).off('.aside')
            });            
        });
    </script>
}

@section Scripts
{
    <script type="text/javascript">
        jQuery(function ($) {

            $.fn.dataTable.Buttons.swfPath = '../../assets/swf/flashExport.swf';
            //Truncate the column of Comment
            function strtrunc(str, max, add) {
                add = add || '...';
                return (typeof str === 'string' && str.length > max ? str.substring(0, max) + add : str);
            };
            //initiate dataTables plugin
            var myTable =
            $("#dynamic-table")
            
            .DataTable({
                'columnDefs': [
    {
        'targets': 4,
        'render': function (data, type, full, meta) {
            if (type === 'display') {
                data = strtrunc(data, 10);
            }

            return data;
        }
    }
                ],

                bAutoWidth: false,
                "aoColumns": [
                  { "bSortable": false },
                  null, null, null, null, null, null, null, null, null, null,
                  { "bSortable": false }
                ],
                "aaSorting": [],



                responsive: true,

                select: {
                    style: 'multi'
                }
            });



            $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

            new $.fn.dataTable.Buttons(myTable, {

                buttons: [
                  {
                      "extend": "colvis",
                      "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
                      "className": "btn btn-white btn-primary btn-bold",
                      columns: ':not(:first):not(:last)'
                  },
                  {
                      "extend": "copy",
                      "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                      "className": "btn btn-white btn-primary btn-bold"
                  },
                  {
                      "extend": "csv",
                      "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
                      "className": "btn btn-white btn-primary btn-bold"
                  },
                  {
                      "extend": "excel",
                      "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
                      "className": "btn btn-white btn-primary btn-bold"
                  },
                  {
                      "extend": "pdf",
                      "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
                      "className": "btn btn-white btn-primary btn-bold"
                  },
                  {
                      "extend": "print",
                      "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                      "className": "btn btn-white btn-primary btn-bold",
                      autoPrint: false,
                      message: 'This print was produced using the Print button for DataTables',
                      exportOptions: {
                          columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                      }


                  }
                ]
            });
            myTable.buttons().container().appendTo($('.tableTools-container'));

            //style the message box
            var defaultCopyAction = myTable.button(1).action();
            myTable.button(1).action(function (e, dt, button, config) {
                defaultCopyAction(e, dt, button, config);
                $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
            });


            var defaultColvisAction = myTable.button(0).action();
            myTable.button(0).action(function (e, dt, button, config) {

                defaultColvisAction(e, dt, button, config);


                if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                    $('.dt-button-collection')
                    .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                    .find('a').attr('href', '#').wrap("<li />")
                }
                $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
            });

            ////

            setTimeout(function () {
                $($('.tableTools-container')).find('a.dt-button').each(function () {
                    var div = $(this).find(' > div').first();
                    if (div.length == 1) div.tooltip({ container: 'body', title: div.parent().text() });
                    else $(this).tooltip({ container: 'body', title: $(this).text() });
                });
            }, 500);





            myTable.on('select', function (e, dt, type, index) {
                if (type === 'row') {
                    $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
                }
            });
            myTable.on('deselect', function (e, dt, type, index) {
                if (type === 'row') {
                    $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
                }
            });




            /////////////////////////////////
            //table checkboxes
            $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

            //select/deselect all rows according to table header checkbox
            $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $('#dynamic-table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) myTable.row(row).select();
                    else myTable.row(row).deselect();
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
                var row = $(this).closest('tr').get(0);
                if (this.checked) myTable.row(row).deselect();
                else myTable.row(row).select();
            });



            $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });



            //And for the first simple table, which doesn't have TableTools or dataTables
            //select/deselect all rows according to table header checkbox




            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

            /***************/
            $('.show-details-btn').on('click', function (e) {
                e.preventDefault();
                $(this).closest('tr').next().toggleClass('open');
                $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });


        });


    </script>
}
