@model EastMed.Data.Model.user
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        Home Page
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Profile &amp; Notifications
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <div class="clearfix">
            <div class="pull-left alert alert-success no-margin alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>

                <i class="ace-icon fa fa-umbrella bigger-120 blue"></i>
                Click on the <i class="menu-icon fa fa-map-marker coloremu"></i> Location below the recent complaint to see details of your complaint...
            </div>
        </div>


    </div>

    <div class="vspace-12-sm"></div>

</div><!-- /.row -->


@if (TempData["warning"] != null)
{
    
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="alert alert-warning">
                <button class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>

                <i class="ace-icon fa fa-hand-o-right"></i>
                @TempData["warning"]
            </div>
        </div>
    </div>
}


<div class="hr hr32 hr-dotted"></div>

<div>
    <div id="user-profile-1" class="user-profile row">
        <div class="col-xs-12 col-sm-3 center">
            <div>
                <span class="profile-picture">
                    <img id="avatar" class="editable img-responsive" alt="User Avatar" src="~/assets/images/avatars/avatar2.png" />
                </span>

                <div class="space-4"></div>

                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                    <div class="inline position-relative">
                        <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                          
                            &nbsp;
                            <span class="white">@Model.FIRST_NAME &nbsp; @Model.LAST_NAME</span>
                        </a>

                      
                    </div>
                </div>
            </div>
            <div class="space-6"></div>

            <div class="hr hr16 dotted"></div>
        </div>

        <div class="col-xs-12 col-sm-9">
            <div class="center">     
              @if (Convert.ToInt32(this.Session["RoleID"]) != 7)
              {
               
                    <div class="infobox infobox-orange">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-check-square"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.TotalSeenComplaint</span>
                            <div class="infobox-content">Seen Complaint</div>
                        </div>
                    </div>

                    <div class="infobox infobox-green">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-check"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.TotalSolvedComplaint</span>
                            <div class="infobox-content">Solved Complaint</div>
                        </div>
                    </div>

                    <div class="infobox infobox-blue">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-wrench  bigger-110 icon-only"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.userComplaintOnProgress</span>
                            <div class="infobox-content">OnProgress Complaint</div>
                        </div>
                    </div>

                    <div class="infobox infobox-blue2">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-check-square"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.TotalComplaint</span>
                            <div class="infobox-content">Total Complaint</div>
                        </div>
                    </div>
                
              }
              else
              {
                    <div class="infobox infobox-red">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.NewComplaintForCategoryAdmin</span>
                            <div class="infobox-content">New Complaint</div>
                        </div>
                    </div>
                    <div class="infobox infobox-orange">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-check-square"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.totalseenByCategoryAdmin</span>
                            <div class="infobox-content">Seen Complaint</div>
                        </div>
                    </div>

                    <div class="infobox infobox-blue2">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-check-square"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.totalComplaintByCategoryAdmin</span>
                            <div class="infobox-content">Total Complaint</div>
                        </div>
                    </div>
                    <div class="infobox infobox-blue">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-wrench  bigger-110 icon-only"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.MaintanenceOfficerOnProgress</span>
                            <div class="infobox-content">OnProgress Complaint</div>
                        </div>
                    </div>
                    <div class="infobox infobox-red">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-fire bigger-110"></i>
                           
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.MaintanenceOfficerUnSolved</span>
                            <div class="infobox-content">UnSolved Complaint</div>
                        </div>
                    </div>
                    <div class="infobox infobox-green">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-check"></i>
                        </div>

                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.MaintanenceOfficerSolved</span>
                            <div class="infobox-content">Solved Complaint</div>
                        </div>
                    </div>

              }
                    </div>
            
            <div class="space-12"></div>

            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> Username </div>

                    <div class="profile-info-value">
                        <span class="editable" id="username">@Model.FIRST_NAME &nbsp; @Model.LAST_NAME</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> University ID </div>

                    <div class="profile-info-value">
                        <span class="editable" id="uniid">@Model.UNI_ID </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Title  </div>

                    <div class="profile-info-value">
                        <span class="editable" id="title">@Model.TITLE </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Phone  </div>

                    <div class="profile-info-value">
                        <span class="editable" id="phone">@Model.PHONE </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> E-Mail </div>

                    <div class="profile-info-value">
                        <span class="editable" id="mail">@Model.EMAIL </span>
                    </div>
                </div>
               
                <div class="profile-info-row">
                    <div class="profile-info-name"> Location </div>

                    <div class="profile-info-value">
                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                        <span class="editable" id="room">@Model.location.ROOM_ID</span>
                        <span class="editable" id="dept">@Model.location.departmant.DEPT_NAME</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Role </div>

                    <div class="profile-info-value">
                        <span class="editable" id="role">@Model.privilege.ROLE</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Joined </div>

                    <div class="profile-info-value">
                        <span class="editable" id="signup">@Model.CREATED_DATE</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Last Online </div>

                    <div class="profile-info-value">
                        <span class="editable" id="login">@Model.LAST_LOGINDATE</span>
                    </div>
                </div>              
            </div>

            <div class="space-20"></div>
@if (Convert.ToInt32(this.Session["RoleID"]) != 7)
{
            <div class="widget-box transparent">
                <div class="widget-header widget-header-small">
                    <h4 class="widget-title blue smaller">
                        <i class="menu-icon fa fa-check-square-o coloremu"></i>
                        Recent Complaints
                    </h4>
                    <div class="widget-toolbar action-buttons">
                        <a href="#" data-action="reload">
                            <i class="ace-icon fa fa-refresh blue"></i>
                        </a>
                        &nbsp;                       
                    </div>
                </div>
                <!-- Recent Complaint if the user doesnt have any complaint or not -->
                <div class="widget-body">
                    <div class="widget-main padding-8">
                        <div id="profile-feed-1" class="profile-feed">
                            @if (Model.complaint.Any())
                            {
                            @Html.Action("RecentComplaint", "Home")
                            }
                            else
                            {
                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-pencil-square-o btn-alert no-hover"></i>
                                           You don't have Any Complaint!                                     
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
}
else
{
    <div class="widget-box transparent">
        <div class="widget-header widget-header-small">
            <h4 class="widget-title blue smaller">
                <i class="menu-icon fa fa-check-square-o coloremu"></i>
                Recent Complaints
            </h4>
            <div class="widget-toolbar action-buttons">
                <a href="#" data-action="reload">
                    <i class="ace-icon fa fa-refresh blue"></i>
                </a>
                &nbsp;
            </div>
        </div>
        <!-- Recent Complaint if the user doesnt have any complaint or not -->
        <div class="widget-body">
            <div class="widget-main padding-8">
                <div id="profile-feed-1" class="profile-feed">
                    @if (Model.category.Any())
                    {
                        @Html.Action("RecentComplaintMaintanenceOfficer", "Home")
                    }
                    else
                    {
                        <div class="profile-activity clearfix">
                            <div>
                                <i class="pull-left thumbicon fa fa-pencil-square-o btn-alert no-hover"></i>
                                You don't have Any Complaint!
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div>
    @section scripts {
        <script type='text/javascript'>
          
        </script>
    }

