@model EastMed.Data.Model.departmant

@{
    ViewBag.Title = "Delete Departmant" + " " + Model.DEPT_ID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h1>
        @ViewBag.Title
        <i class="ace-icon fa fa-map-marker"></i>
       
    </h1>
</div>
<h5>
   
</h5>
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>

    </button>
    <strong> Warning!</strong>
    This data will detele with items on it permanentily from database! Make Sure the Department Does not have any Location otherwise you can not delete Directly!
    <br />
</div>

@if (TempData["info"] != null)
{
    <div class="row">
        <div class="col-md-10 col-xs-10 col-lg-10">
            <div class="alert alert-danger">
                <button class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>

                </button>
                <strong><i class="ace-icon fa fa-check"></i></strong>
                @TempData["info"]
            </div>
            <hr />
        </div>
    </div>
}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12 col-lg-8">
            <h4 class="header blue bolder smaller"> Are you sure you want to delete this Department  &nbsp; @Model.DEPT_NAME?</h4>
            <dl class="dl-horizontal">
                <dt >
                    @Html.DisplayNameFor(model => model.DEPT_NAME)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.DEPT_NAME)
                </dd>

                <dt >
                    @Html.DisplayNameFor(model => model.DEPT_ID)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.DEPT_ID)
                </dd>

                <dt >
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd >
                    @if (Model.IsActive == true)
                    {
                        <b class="label label-success">Active</b>
                    }
                    else
                    {
                        <b class="label label-danger">Passive</b>
                    }
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary" /> |
                   @Html.ActionLink("Back to Location List", "Index", "Location", null, new { @class = " btn btn-white btn-primary" })
                </div>
            }
            </div>
        </div>
